
#settings-nav-wrapper
{
	margin: 50px 0px 0px 50px;		
}

#settings-nav
{
	margin: 0;
	padding: 0;
	
	display: -webkit-box;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);

	font-family: "Whitney Cond A","Whitney Cond B","ronnia-condensed",sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 26px;
}

#settings-content
{
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	
	background-color: white;
}

#settings-content:after
{
	content: "";
	position: absolute;
	right: 100%;
	margin-right: 7px;
	top: 0;
	width: 50px;
	bottom: 0;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.4)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.4));
	background: -moz-linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.4));
	background: -o-linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.4));
	background: linear-gradient(left, rgba(0,0,0,0),rgba(0,0,0,0.4));
	pointer-events: none;	
}	

#settings-nav ul
{
	list-style: none;
	list-style-image: none;
	
	background-color: grey;		
}

#settings-nav li a
{
	display: block;
	padding: 10px 40px 10px 20px;
	
	font-family: "Whitney Cond A","Whitney Cond B","ronnia-condensed",sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 26px;
	text-decoration: none;
	
	color: white;
}

#settings-nav li:nth-child(1) a
{
	background: #de4206;
}
#settings-nav li:nth-child(2) a
{
	background: #fd7c2a;
}		
#settings-nav li:nth-child(3) a
{
	background: #efb62b;
}

#settings-nav li a:active, #settings-nav li a.selected
{
	position: relative;
	z-index: 1;
}

.settings
{
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.settings:target
{
	position: relative;
	top: 0;
	left: 0;
}